.Pagination {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Wrapper {
    display: flex;

    &__PageButton {
      padding: 0 12px;
    }

    &__PageButton[active="1"] {
      font-weight: bold;
    }

    &__Dots {
      font-size: 1.8rem;
      line-height: 1rem;
      user-select: none;
      padding: 0 8px;
    }

    &__LeftButton {
      margin-right: 8px;
    }

    &__RightButton {
      margin-left: 8px;
    }
  }
}
